#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# $(KERNEL_DIR)/kernel/configs/moto_extra.config
#
# The actual output of the kernel configuration system can be found at:
# out_krn/target/product/$(PRODUCT)/obj/KLEAF_OBJ/dist/xxx/yyy.userdebug/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

#######################################################################
# panel config
CONFIG_DRM_PANEL_TM_NT36672C_650_FHDP_DPHY_VDO_120HZ_HBL=m
CONFIG_DRM_PANEL_TXD_ILI7807S_650_FHDP_DPHY_VDO_120HZ_HBL=m
CONFIG_DRM_PANEL_CSOT_FT8725_650_FHDP_DPHY_VDO_120HZ_HBL=m

# backlight config
CONFIG_BACKLIGHT_CLASS_DEVICE=y

#######################################################################
# general touch config
CONFIG_MT6855_TWO_DEVICE_SPI_BUS_SUPPORT=y
CONFIG_BOARD_USES_DOUBLE_TAP_CTRL=y
CONFIG_INPUT_HIGH_RESOLUTION_4=y
CONFIG_MTK_PANEL_NOTIFICATIONS=y
CONFIG_PANEL_TP_ESD_RECOVERY=y
CONFIG_DISP_ESD_NOTIFY_SUPPORT=y

# focaltech
CONFIG_FOCAL_SPI_DRIVE=y
CONFIG_FTS_STOWED_MODE_SUPPORT=y
CONFIG_FTS_IRQ_DIS_FOR_RESET=y
CONFIG_FTS_MTK_CHECK_PANEL=y
CONFIG_FTS_LAST_TIME=y
CONFIG_INPUT_FOCALTECH_0FLASH_MMI_ENABLE_DOUBLE_TAP=y
CONFIG_INPUT_FOCALTECH_IC_NAME="ft8725"
CONFIG_INPUT_FOCALTECH_DEBUG_EN=y

# ilitek
CONFIG_ILI_TOUCH_LAST_TIME=y
CONFIG_ILITEK_CHARGER=y
CONFIG_ILITEK_MTK_CHECK_PANEL=y
CONFIG_ILITEK_RESUME_BY_DDI=y
CONFIG_ILITEK_STOWED_MODE_SUPPORT=y
CONFIG_INPUT_ILI_ENABLE_DOUBLE_TAP=y
CONFIG_INPUT_ILI_SET_TOUCH_STATE=y

# novatek
CONFIG_INPUT_NOVA_0FLASH_MMI_ENABLE_DOUBLE_TAP=y
CONFIG_NOVA_CHECK_DEVICE_BOOTMODE=y
CONFIG_NOVA_MTK_CHECK_PANEL=y
CONFIG_NOVA_TOUCH_LAST_TIME=y
CONFIG_NOVATEK_MTK_SPI=y
CONFIG_NVT_ESD_RECOVERY_SUPPORT=y
CONFIG_NVT_ESD_RST_SUPPORT=y
CONFIG_NVT_LCM_ESD_NOTIFIER=y
CONFIG_STOWED_MODE_SUPPORT=y

#######################################################################
# battery/charger
CONFIG_MTK_BATTERY_MANAGER=m
CONFIG_DISABLE_SUPPORT_MMI_ADAPTER=y
CONFIG_MOTO_CHG_WT6670F_SUPPORT=y
CONFIG_MOTO_LOTX_SUPPORT=Y

#######################################################################
# Motorola V2 File Based Encryption Driver Support.
CONFIG_FSCRYPT_WRAPPED_KEY_MODE_SUPPORT=y

