#
# Please avoid changing the MTK defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# $(KERNEL_DIR)/kernel/configs/moto_extra.config
#
# The actual output of the kernel configuration system can be found at:
# out_krn/target/product/$(PRODUCT)/obj/KLEAF_OBJ/dist/xxx/yyy.userdebug/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

# panel config
CONFIG_DRM_PANEL_NUM_NO_LIMIT=y
CONFIG_DRM_PANEL_BOE_ICNL9922C_672_FHD_DPHY_VDO_120HZ=m
CONFIG_DRM_PANEL_DIJING_FT8725_672_FHD_DPHY_VDO_120HZ=m
CONFIG_DRM_PANEL_TM_TD4376_672_FHD_DPHY_VDO_120HZ=m
CONFIG_DRM_PANEL_TXD_ILI7807S_672_FHD_DPHY_VDO_120HZ=m
# config for backlight bringup
CONFIG_BACKLIGHT_CLASS_DEVICE=y

# touch config
CONFIG_MT6855_TWO_DEVICE_SPI_BUS_SUPPORT=y
CONFIG_CHIPONE_MTK_CHECK_PANEL=y
CONFIG_BOARD_USES_DOUBLE_TAP_CTRL=y
CONFIG_CTS_LAST_TIME=y
CONFIG_CHIPONE_LOG_CAPTURE=y
CONFIG_CHIPONE_FORCE_UP_ENABLE=y
CONFIG_MTK_PANEL_NOTIFICATIONS=y
CONFIG_CHIPONE_CHECK_DEVICE_BOOTMODE=y
CONFIG_CTS_NOTIFY_TOUCH_STATE=y
CONFIG_CTS_INPUT_ENABLE_DOUBLE_TAP=y
CONFIG_STOWED_MODE_EN=y
CONFIG_FTS_MTK_CHECK_PANEL=y
CONFIG_INPUT_FOCALTECH_IC_NAME="ft8725"
CONFIG_INPUT_FOCALTECH_DEBUG_EN=y
CONFIG_INPUT_FOCALTECH_0FLASH_MMI_ENABLE_DOUBLE_TAP=y
CONFIG_FTS_LAST_TIME=y
CONFIG_FTS_IRQ_DIS_FOR_RESET=y
CONFIG_FTS_STOWED_MODE_SUPPORT=y
CONFIG_FTS_CHECK_DEVICE_BOOTMODE_SUPPORT=y
CONFIG_FOCALTECH_LOG_CAPTURE=y
CONFIG_FOCAL_SPI_DRIVE=y
CONFIG_INPUT_HIGH_RESOLUTION_4=y
CONFIG_TP_MTK_CHECK_PANEL=y
CONFIG_OVT_ENABLE_DOUBLE_TAP=y
CONFIG_TP_LAST_TIME=y
CONFIG_SUPPORT_MULTI_FIRMWARE=y
CONFIG_OVT_STOWED_MODE_SUPPORT=y
CONFIG_OMN_LOG_CAPTURE=y
CONFIG_OVT_PANEL_GESTURE_NOTIFY_SUPPORT=y
CONFIG_OVT_CHECK_DEVICE_BOOTMODE_SUPPORT=y
CONFIG_OVT_CHARGER_DETECT_SUPPORT=y

#Add for AW87XXX
CONFIG_SND_SOC_AW87564=m
CONFIG_SND_SOC_BOGOTA_MULTI_AUDIO_PA=y
CONFIG_SND_SOC_FS1815=m
CONFIG_BOGOTA_AUDIO=y

# Add swtp customization
#CONFIG_MTK_VOW_DUAL_MIC_SUPPORT is not set
CONFIG_MTK_VOW_GVA_SUPPORT=y
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y

CONFIG_MOTO_BOGOTA_SWTP_CUST=y

# use mtk battery
CONFIG_MTK_BATTERY_MANAGER=m
# disable 68W charge
CONFIG_DISABLE_SUPPORT_MMI_ADAPTER=y
#enable lotx feature for 95% recharge
CONFIG_MOTO_LOTX_SUPPORT=y

# Add for fpc driver
CONFIG_INPUT_MISC_FPC1020_SAVE_TO_CLASS_DEVICE=y

# Add qc3+ chip
CONFIG_MOTO_CHG_WT6670F_SUPPORT=y

# capsense usb cal
CONFIG_SX937X_USB_CAL=y
CONFIG_SX937X_POWER_SUPPLY_ONLINE=y
CONFIG_SX937X_MTK_KERNEL5XX_CHARGER_TYPE=y
CONFIG_AW96XX_POWER_SUPPLY_ONLINE=y
CONFIG_AW96XX_MTK_KERNEL5XX_CHARGER_TYPE=y
